<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/header %>
  </head>
​
  <body>
​
    <header>
      <%- include ../partials/nav %>
    </header>
​
    <div class="container">
​
      <div class="starter-template">
        <h1>Show all habits:</h1>
        
        <div class="wrapper">
          <ol>

          
          
          <% for(var i = 0; i < data.length; i++) { %>
            
              <ul>

              
                  
                <a href="/habits/<%= data[i].id %>"> 
                  <h3><li type="disc"><%= data[i].name %></li></h3>
                </a>

                <li type="square"><%= data[i].type %></li>
                <li type="square"><%= data[i].scale %></li>
                <li type="square"><%= data[i].frequency %></li>
                <li type="square"><%= data[i].extras %></li>
                <li type="square"><%= data[i].comments %></li>
              </ul>
             

               
          <% } %>
          </ol>
        </div>
      </div>
​
    </div> <!-- /.container -->
​
​
    <%- include ../partials/footer %>
  </body>
</html>