<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/header %>
  </head>
​
  <body>
​
    <header>
      <%- include ../partials/nav %>
    </header>
​
    <div class="container">
​
      <div class="starter-template">
        <h1>Habit Profile</h1>
        
        <h3><%= habitData.name %></h3>
        <h4><li><%= habitData.user_name %></li></h4>
        <h4><li><%= habitData.type %></li></h4>

        <h4><li><%= habitData.scale %></li></h4>
        <h4><li><%= habitData.frequency %></li></h4>
        <h4><li><%= habitData.extras %></li></h4>
        <h4><li><%= habitData.comments %></li></h4>

        <form method="POST" action="<%=habitURL + '?_method=DELETE' %>">
        <a href="<%=habitURL + '/edit'%>" class="btn btn-info" role="button">Edit</a>
        <button type="submit" class="btn btn-danger">Delete</button>
        
      </form>
  

      </div>
​
    </div><!-- /.container -->
​
​
    <%- include ../partials/footer %>
  </body>
</html>